/** SITE STRUCTURE **/

html {
	width: 100%; height: 100%;
}

body {
	background-color: #f2f4f6;
	
	width: 100%;
}

.wrapper {
	width: 100%; height: 100%;
	position: relative;
}

.container {
	text-align: left;
	margin: 0 auto; max-width: 1170px; padding-left: 50px; padding-right: 50px;
}

/** Header + Navigation **/

.main_header {
	position: absolute; top: 0; width: 100%; z-index: 3;
	transition-delay: .72s;
	transition: background .4s ease;
}

.main_header .container {
	/*border-bottom: 1px solid #8ca2ad;*/ border-bottom: 1px solid rgba(255,255,255,0.2); padding-left: 0; padding-right: 0; padding-top: 20px; padding-bottom: 20px;
	position: relative;
}

.header_logo {
	transition: opacity .6s;
	display: inline-block; max-width: 337px;
}
.header_logo:hover {
	opacity: 0.85;
}
.header_logo img {
	width: 100%;
}

.header_navigation {
	font-family: 'Varela', sans-serif; font-size: 0.85em; text-transform: uppercase; color: #fff; line-height: 3.3em; -webkit-font-smoothing: antialiased;
	float: right; padding-top: 15px; padding-bottom: 15px;
}
	.header_navigation a {
		color: inherit;
		margin-left: 30px;
	}
	.header_navigation a:hover {
		color: #b2b9c0;
	}
	.mobile_navigation_close {
		display: none;
	}
.main_content {
	position: relative; z-index: 2;
}
	
/** Top background images **/

.main_hero {
	color: #dddcdc;
	padding-top: 122px; background-color: #002748;
}
	.main_hero .container {
		padding: 80px; max-width: 1020px;
		position: relative; z-index: 1;
	}
	.main_hero h1 {
		color: #fff; 
		margin-bottom: 8px;
	}
	.main_hero p {
		font-size: 1.16em; line-height: 1.5em;
		max-width: 55%; margin-bottom: 2em;
	}
	.icon_scroll {
		color: #fff; font-size: 1.4em;
		
		position: absolute; bottom: 0; left: 50%; margin-left: -8px; z-index: 101;
		-webkit-animation: pulse 3s infinite;
		-moz-animation: pulse 3s infinite;
		-o-animation: pulse 3s infinite;
		animation: pulse 3s infinite;
	}
	@-webkit-keyframes {
	  0% {
			opacity: 0.7;
	  }
	  100% {
			color: 1;
	  }
	}
	@-moz-keyframes {
	  0% {
			opacity: 0.7;
	  }
	  100% {
			color: 1;
	  }
	}
	@-o-keyframes {
	  0% {
			opacity: 0.7;
	  }
	  100% {
			color: 1;
	  }
	}
	@keyframes pulse {
	  0% {
			opacity: 0.7;
	  }
	  100% {
			color: 1;
	  }
	}

/** Homepage Parallax effect **/

.hero_homepage {
	font-size: 1.5em;
	min-height: 600px; margin-bottom: -130px; padding-bottom: 130px;
	background-image: url('../images/background-parallax-homepage-1.jpg'); background-position: center bottom; background-repeat: no-repeat; background-size: cover;
	
	position: relative; z-index: 0;
	
	-webkit-transition: background-image 1.5s ease-in-out;
	-moz-transition: background-image 1.5s ease-in-out;
	-o-transition: background-image 1.5s ease-in-out;
	transition: background-image 1.5s ease-in-out;
}

.hero_homepage.switch_image {
	background-image: url('../images/background-parallax-homepage-2.jpg');
}
.parallax_background { 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
	
/** Homepage **/
.popout_content, .standout_content, .testimonials, .popout_contact, .main_footer {
	position: relative; z-index: 100;	
}

.popout_content .container {
	background-color: #fff; text-align: center;
	padding: 50px 25px; max-width: 1120px;
	-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
	
	-webkit-box-shadow: 0px 0 30px 15px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0 30px 15px rgba(0,0,0,0.20);
	box-shadow: 0px 0 30px 15px rgba(0,0,0,0.20);
}
	.popout_content h2 {
		text-align: center; font-size: 1.9em; margin-bottom: 1.4em;
	}
	.popout_content h3 {
		font-size: 1.17em; color: #002748; margin-bottom: 1em;
	}
	.popout_content h3:before {
		content: ' ';
		display: block; width: 100%; height: 47px; margin-bottom: 1.2em; padding-top: 8px; padding-left: 8px;
		background-repeat: no-repeat; background-size: contain;
		/*background-image: url('../images/icon-background.svg'); background-repeat: no-repeat; background-size: contain;*/
	}
	.icon-handshake:before {
		background-image: url('../images/icon-handshake.svg'); 
	}
	.icon-briefcase:before {
		background-image: url('../images/icon-briefcase.svg');
	}
	.icon-globe:before {
		background-image: url('../images/icon-globe.svg');
	}
	.popout_content p {
		color: #4d5f6e;
	}
	.practice_areas_box {
		text-align: left;
		width: 27%; padding: 0 3%; margin-bottom: 2em; margin-right: -1px;
		display: inline-block; vertical-align: top;
	}
	
.standout_content {
	color: #fff;
	background-color: #fff;
	background-color: #02284b;
	padding: 0 50px; margin-top: -90px; z-index: 3;
	padding-top: 100px;
	
	background-image: url('../images/background-parallax-homepage-4.jpg'); background-size: cover; background-repeat: no-repeat;
	}
	.standout_content h2 {
		color: inherit; font-size: 2.1em; margin-bottom: 0.8em;
	}
	.standout_content h3 {
		color: inherit;
	}
	.standout_content p {
		font-size: 0.9em; line-height: 1.5em; margin-bottom: 3em;
	}
	.standout_content .container {
		padding-top: 80px; padding-bottom: 90px;
	}
	
	.offerings_description {
		float: left; width: 36%; padding: 4% 10% 4% 4%;
		background-image: url('../images/dots-background.png'); background-repeat: no-repeat;
	}
		.offerings_description p:last-child {
			margin-bottom: 0;
		}
	.offerings_trail {
		float: right; width: 42%; padding: 4%; /*text-shadow: 2px 2px #000;*/
		
	}
		.offerings_trail ul:after {
			width: 2px; content: ' '; height: 200%;
			background-image: url('../images/line-background.png'); background-repeat: no-repeat;
			position: absolute; top: -100px; bottom: 0; left: 20px; z-index: 2;
		}
		.offerings_trail ul {
			list-style: none; font-size: 1.1em; line-height: 5em;
			position: relative; padding-left: 0;
		}
		.offerings_trail li:before {
			font-size: 1.2em; vertical-align: middle;
			padding: 10px; margin-right: 20px; border: 1px solid #fff;
	
			-moz-border-radius: 55px;
			-webkit-border-radius: 55px;
			border-radius: 55px;
		}
		
		.standout_content .button_hollow_white {
			margin-left: 4%;
		}
		
		.testimonials {
			padding: 80px 50px;
		}
		.testimonials h2 {
			float: left; width: 22%;
			font-size: 2.1em; letter-spacing: -2px;
		}
		.testimonials_carousel {
			text-align: center;
			float: right; width: 75%; position: relative;
			overflow: hidden;
		}
		.testimonials blockquote {
			color: #333; font-size: 1.1em; line-height: 1.75em; text-align: left;
		}
		
		.testimonials_carousel_container {
			position: relative; z-index: 0; width: 1000%;
		}
			.testimonials_carousel_container blockquote {
				float: left; width: 10%;
			}
		.testimonials_carousel_pagination {
			text-align: left;
			position: absolute; z-index: 1; right: 0; bottom: 0; margin-left: 10px;
		}
			.testimonials_carousel_pagination a {
				color: #898989; border-color: #898989;
				display: inline-block; margin-left: -10px;
			}
			.testimonials_carousel_pagination a:before {
				color: inherit; font-size: 1.3em; text-align: right;
    		border-width: 1px; border-style: solid; border-color: inherit;
				padding: 15px; display: inline-block;
			}
			.testimonials_carousel_pagination a:hover {
				color: #000;
			}

.popout_contact {
	margin-bottom: -130px; z-index: 101;
}
	.popout_contact .container {
		text-align: center;
		background-color: #fff;
		-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
		-webkit-box-shadow: 0px 0 30px 15px rgba(0,0,0,0.20);
		-moz-box-shadow: 0px 0 30px 15px rgba(0,0,0,0.20);
		box-shadow: 0px 0 30px 15px rgba(0,0,0,0.20);
	
		margin: 0 auto; padding: 90px; max-width: 990px;
	}
	.popout_contact h4 {
		font-size: 2.6em; margin-bottom: 0.25em;
	}
	.popout_contact p {
		font-size: 1.4em;
	}

/** Footer + Navigation **/

.main_footer {
	color: #fff;
	background-color: #002748; padding-top: 180px; padding-bottom: 80px;
	z-index: 1;
}

.footer_logo {
	float: left; margin-right: 50px;
	transition: opacity .6s;
}
.footer_logo:hover {
	opacity: 0.85;
}

.footer_navigation {
	font-family: 'Varela', sans-serif; font-size: 0.85em; text-transform: uppercase; line-height: 1em;
	float: left; margin-top: -2px;
	-moz-column-count: 2; -webkit-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2;
}
	.footer_navigation a {
		color: inherit;
		display: block; margin-bottom: 1.5em; margin-right: 35px;
	}
	.footer_navigation a:hover {
		color: #b2b9c0;
	}

.footer_newsletter {
	float: right;
}
	.footer_newsletter label {
		font-size: 1.16em;
		display: block; margin-bottom: 1em;
	}
	.footer_newsletter input {
		 border: 0; padding: 12px 18px; margin-right: -5px;
		-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
	}
	.footer_newsletter input[type="submit"] {
		color: #fff;
		background-color: #004986;
	}